body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/c4/cc/0d/c4cc0d9a28ef1bab0784325cffbb840b.jpg');
  background-color: lightgrey;
}
#netflix {
color: rgb(185,9,11);
font-family: "Arial Bold";
font-size: 40px;
font-variant: normal;
font-weight: 500;
}
h1 {
text-align:center;
color:black;
background-color: darkgrey;
border: solid black thick;
}
.glyphicon {
  font-size: 30px;
}
h2 {
margin-top:20px;
text-align:center;
border-bottom: solid black medium;
margin-left:30%;
margin-right:30%;
padding-bottom:2px;
}
h3 {
font-weight: bold;
color: rgb(185,9,11);
}
img {
width: 400px;
border: solid black thin;
border-radius:5px;
margin: 15px;
}
div {
text-align:center;
}
form {
margin-bottom:20px;
text-align:center;
}
#wrap {
text-align:center;
-webkit-column-count: 2;
column-count: 2;
}
#shows {
position: inline-block;
break-inside: avoid-column;
margin-bottom: 25px;
border: dashed darkgrey medium;
margin-left:10%;
margin-right:10%;
}
